@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&family=Mulish:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 :root {
    --bg-color: #F1F1F1;
    --accent-color: #1f1f1f;
    --main-font: 'Cormorant Unicase', serif;
    --accent-font: 'Mulish', sans-serif;
}

.dark-mode {
    --bg-color: #1f1f1f;
    --accent-color: #F1F1F1;
}

body {
    background-color: var(--bg-color);
    color: var(--accent-color);
}

ul {
    list-style: none;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}


/*******************************************************************************************/


/*******************************************************************************************/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
    background-color: transparent;
    .heading {
        width: 100%;
        margin-bottom: 1rem;
        font-family: var(--main-font);
        font-size: 120px;
        text-align: center;
        line-height: 100%;
    }
    .sm-heading {
        width: 100%;
        font-family: var(--main-font);
        font-size: 27px;
        text-align: center;
        opacity: .7;
    }
}


/*******************************************************************************************/


/*******************************************************************************************/

section {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    article {
        .co {
            margin-top: 1rem;
        }
        padding: 0px 80px 200px 80px;
        position: sticky;
        top: 0;
        width: 34%;
        height: 100vh;
        #time {
            display: flex;
            font-family: var(--main-font);
            font-size: 3.5rem;
            letter-spacing: 8px;
            font-weight: bold;
        }
        .year {
            margin-top: 2rem;
        }
        p {
            line-height: 100%;
            font-family: var(--accent-font);
            font-size: 1rem;
            font-weight: bold;
        }
        p.time {
            font-family: var(--main-font);
            font-size: 3.5rem;
            letter-spacing: 8px;
            font-weight: bold;
        }
        .span {
            margin-top: 2rem;
            border-bottom: 2px solid var(--accent-color);
            width: 60%;
            color: var(--accent-color);
        }
        .contactList {
            margin-top: 2rem;
            ul li {
                font-family: var(--accent-font);
                font-size: .8rem;
                font-weight: bold;
                line-height: 200%;
            }
        }
        img {
            margin-top: 2rem;
            width: 60%;
        }
    }
    main {
        width: 66%;
        padding: 1rem 100px 150px 0;
        p.aboutMe {
            width: 80%;
            line-height: 150%;
            font-family: var(--main-font);
            font-size: 1.5rem;
        }
        .work,
        .skills {
            margin: 10rem 0 10rem 0;
            width: 80%;
            .title {
                font-family: var(--main-font);
                font-size: 45px;
                margin-bottom: 4rem;
                margin-top: 2rem;
                text-transform: capitalize;
            }
            .sm-title {
                font-family: var(--accent-font);
                font-size: 1.7rem;
                font-weight: bold;
                margin-bottom: .8rem;
            }
            .xsm-title {
                font-family: var(--accent-font);
                font-size: 1.1rem;
                margin-bottom: 2.5rem;
            }
            .rs {
                font-family: var(--accent-font);
                font-size: 1.2rem;
                font-weight: 900;
            }
            p {
                font-family: var(--accent-font);
                font-size: 1.2rem;
            }
            ul li {
                font-family: var(--accent-font);
                font-size: 1.1rem;
                margin: 2rem 0 .5rem 2rem;
                line-height: 150%;
            }
        }
    }
}


/*******************************************************************************************/


/*******************************************************************************************/

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 200px;
    padding-bottom: 150px;
    .glide__track {
        width: 66% !important;
        float: right;
    }
    .glide__slide {
        height: 450px !important;
        overflow: hidden;
    }
    img {
        width: 100%;
    }
    .glide__arrows {
        margin-left: 4rem !important;
    }
    .prev,
    .next {
        background-color: transparent;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border-color: var(--accent-color);
        border-width: 2px;
        margin-top: 10rem;
        margin-left: 1rem;
        cursor: pointer;
    }
    .material-icons {
        font-size: 2rem !important;
        color: var(--accent-color);
    }
}


/*******************************************************************************************/


/*******************************************************************************************/

footer {
    width: 100%;
    min-height: 100vh;
    position: relative;
    .footer {
        width: 66%;
        padding: 5rem 100px 150px 0;
        float: right;
        .title {
            font-family: var(--main-font);
            font-size: 45px;
            margin-bottom: 2rem;
            margin-top: 2rem;
            text-transform: capitalize;
        }
        .certeficated {
            margin-top: 5rem;
            .sm-title {
                font-family: var(--accent-font);
                font-size: 1.7rem;
                font-weight: bold;
                margin-top: 3rem;
                margin-bottom: .5rem;
            }
            .xsm-title {
                font-family: var(--accent-font);
                font-size: 1.1rem;
                margin-bottom: 2.5rem;
            }
        }
        p {
            font-family: var(--accent-font);
            font-size: 1.2rem;
            width: 80%;
            line-height: 200%;
        }
    }
    .dark {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 160%;
        left: 90%;
        width: 50px;
        height: 50px;
        background-color: var(--accent-color);
        cursor: pointer;
        .material-icons {
            font-size: 1.5rem !important;
            color: var(--bg-color);
        }
    }
}


/*******************************************************************************************/


/*******************************************************************************************/