@media only screen and(max-width:1300px) and (min-width: 900px) {
    .slider {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        padding-top: 200px;
        padding-bottom: 150px;
        .glide__track {
            width: 66% !important;
            float: right;
        }
        .glide__slide {
            height: 450px !important;
            overflow: hidden;
        }
        img {
            width: 100%;
        }
        .glide__arrows {
            margin-left: 4rem !important;
        }
        .prev,
        .next {
            background-color: transparent;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border-color: var(--accent-color);
            border-width: 2px;
            margin-top: 10rem;
            margin-left: 1rem;
            cursor: pointer;
        }
        .material-icons {
            font-size: 1.4rem !important;
            color: var(--accent-color);
        }
    }
    footer {
        width: 100%;
        min-height: 100vh;
        position: relative;
        .footer {
            width: 66%;
            padding: 5rem 100px 150px 0;
            float: right;
            .title {
                font-family: var(--main-font);
                font-size: 45px;
                margin-bottom: 2rem;
                margin-top: 2rem;
                text-transform: capitalize;
            }
            .certeficated {
                margin-top: 5rem;
                .sm-title {
                    font-family: var(--accent-font);
                    font-size: 1.7rem;
                    font-weight: bold;
                    margin-top: 3rem;
                    margin-bottom: .5rem;
                }
                .xsm-title {
                    font-family: var(--accent-font);
                    font-size: 1.1rem;
                    margin-bottom: 2.5rem;
                }
            }
            p {
                font-family: var(--accent-font);
                font-size: 1.2rem;
                width: 80%;
                line-height: 200%;
            }
        }
        .dark {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 180%;
            left: 90%;
            width: 50px;
            height: 50px;
            background-color: var(--accent-color);
            cursor: pointer;
            .material-icons {
                font-size: 1.5rem !important;
                color: var(--bg-color);
            }
        }
    }
}

@media only screen and(max-width:900px) and (min-width: 600px) {
    body {}
    header {
        .heading {
            font-size: 70px;
        }
        .sm-heading {
            font-size: 17px;
        }
    }
    section {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        article {
            width: 40%;
            .co {
                margin-top: 1rem;
                height: 100%;
            }
            padding: 20px 0px 200px 40px;
            position: sticky;
            top: 0;
            min-height: 100vh;
            #time {
                display: flex;
                font-family: var(--main-font);
                font-size: 3rem;
                letter-spacing: 8px;
                font-weight: bold;
            }
            .year {
                margin-top: 2rem;
            }
            p {
                line-height: 100%;
                font-family: var(--accent-font);
                font-size: .7rem;
                font-weight: bold;
            }
            p.time {
                font-family: var(--main-font);
                font-size: 3rem;
                letter-spacing: 8px;
                font-weight: bold;
            }
            .span {
                margin-top: 2rem;
                width: 55%;
            }
            .contactList {
                margin-top: 2rem;
                ul li {
                    font-family: var(--accent-font);
                    font-size: .6rem;
                    font-weight: bold;
                    line-height: 200%;
                }
            }
            img {
                margin-top: 2rem;
                width: 55%;
            }
        }
        main {
            width: 60%;
            padding: 1rem 0px 50px 0;
            p.aboutMe {
                width: 90%;
                line-height: 150%;
                font-family: var(--main-font);
                font-size: 1.1rem;
            }
            .work,
            .skills {
                margin: 10rem 0rem 10rem 0;
                width: 80%;
                .title {
                    font-size: 1.5rem;
                    margin-bottom: 4rem;
                    margin-top: 2rem;
                }
                .sm-title {
                    font-size: 1.2rem;
                    margin-bottom: .8rem;
                }
                .xsm-title {
                    font-size: .9rem;
                    margin-bottom: 2.2rem;
                }
                .rs {
                    font-size: 1rem;
                }
                p {
                    font-size: .8rem;
                }
                ul li {
                    font-size: .8rem;
                    margin: 2rem 0 .3rem 2rem;
                    line-height: 150%;
                }
            }
        }
    }
    .slider {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 70vh;
        padding-top: 10px;
        padding-bottom: 10px;
        .glide__track {
            width: 98% !important;
            float: right;
        }
        .glide__slide {
            height: 450px !important;
            overflow: hidden;
        }
        img {
            width: 100%;
        }
        .glide__arrows {
            display: none;
        }
    }
    footer {
        width: 100%;
        min-height: 100vh;
        position: relative;
        margin-top: 0rem;
        .footer {
            width: 80%;
            padding: 5rem 100px 150px 0;
            float: right;
            .title {
                font-size: 1.5rem;
                margin-bottom: .2rem;
                margin-top: .2rem;
            }
            .certeficated {
                margin-top: 5rem;
                .sm-title {
                    font-size: 1.2rem;
                    margin-bottom: .8rem;
                }
                .xsm-title {
                    font-size: .9rem;
                    margin-bottom: 2rem;
                }
            }
            p {
                font-size: .8rem;
                margin: 0rem 0 .3rem 2rem;
                line-height: 200%;
            }
        }
        .dark {
            top: 120%;
            left: 70%;
            width: 50px;
            height: 50px;
            background-color: var(--accent-color);
            cursor: pointer;
            .material-icons {
                font-size: 1.5rem !important;
                color: var(--bg-color);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    header {
        .heading {
            width: 80%;
            margin: 0 5rem .4rem 5rem;
            font-size: 70px;
            text-align: left;
        }
        .sm-heading {
            width: 80%;
            margin: 0 5rem .4rem 5rem;
            font-size: 14px;
            text-align: left;
        }
    }
    section {
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        article {
            display: none;
        }
        main {
            width: 90%;
            margin-left: 5rem;
            padding: 1rem 40px 40px 0;
            text-align: justify-all;
            p.aboutMe {
                width: 100%;
                line-height: 150%;
                font-family: var(--main-font);
                font-size: 1rem;
            }
            .work,
            .skills {
                margin: 10rem 0 0rem 0;
                width: 100%;
                .title {
                    font-family: var(--main-font);
                    font-size: 2rem;
                    margin-bottom: 4rem;
                    margin-top: 2rem;
                }
                .sm-title {
                    font-family: var(--accent-font);
                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: .8rem;
                }
                .xsm-title {
                    font-family: var(--accent-font);
                    font-size: .7rem;
                    margin-bottom: 2.5rem;
                }
                .rs {
                    font-family: var(--accent-font);
                    font-size: 1rem;
                    font-weight: 900;
                }
                p {
                    font-family: var(--accent-font);
                    font-size: .9rem;
                }
                ul li {
                    font-family: var(--accent-font);
                    font-size: .9rem;
                    margin: 2rem 0 .5rem 2rem;
                    line-height: 150%;
                }
            }
        }
    }
    .slider {
        display: block;
        width: 100%;
        margin-top: 10rem;
        margin-bottom: 0rem;
        min-height: 30vh;
        padding-top: 0px;
        padding-bottom: 0px;
        .glide__track {
            width: 98% !important;
        }
        .glide__slide {
            height: 200px !important;
            overflow: hidden;
        }
        img {
            width: 100%;
            height: auto;
        }
        .glide__arrows {
            display: none !important;
        }
    }
    footer {
        width: 100%;
        min-height: 100vh;
        margin-top: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify-all;
        .footer {
            width: 800px;
            margin-left: 5rem;
            float: left;
            .title {
                font-family: var(--main-font);
                font-size: 2rem;
                margin-bottom: 2rem;
                margin-top: 2rem;
            }
            .certeficated {
                margin-top: 5rem;
                .sm-title {
                    font-family: var(--accent-font);
                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: .8rem;
                }
                .xsm-title {
                    font-family: var(--accent-font);
                    font-size: .7rem;
                    margin-bottom: 2.5rem;
                }
            }
            p {
                font-family: var(--accent-font);
                font-size: .9rem;
                line-height: 200%;
                width: 100%;
            }
        }
        .dark {
            position: absolute;
            top: 90%;
            left: 80%;
            width: 30px;
            height: 30px;
            background-color: var(--accent-color);
            cursor: pointer;
            .material-icons {
                font-size: 1.1rem !important;
                color: var(--bg-color);
            }
        }
    }
}